<a class="bordered card" href="{{absolutePath}}{{>urlqueryargs}}">
    <div class="image-section"><img class="lozad" data-src="{{screenshotUrl}}"></div>
    <div class="icon-section">
    <div class="icon-button"><i class="sui-icon {{uicon}}"></i></div>
    </div>
    <div class="card-section">
    <h3 class="text-left">{{title}}</h3>
    </div>
</a>
