<!doctype html>
<html class="no-js" lang="{{shortlang}}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{#i18n}}page.title{{/i18n}}</title>
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/fonts.css" />
    <link rel="stylesheet" href="/themes/wmch-interactive-maps-v3-theme/css/app.css" />
  </head>
  <body class="index">
    <div class="grid-container full" id="main-container">
      <div class="grid-x">
        {{>menu}}
        <div class="header-your-map cell margin-bottom-1 padding-top-3 padding-bottom-2">
                              <div class="grid-container">
                                <div class="grid-x">
                                  <div class="cell">
                                    <h1 class="maintitle">{{#i18n}}page.title{{/i18n}}</h1>
                                  </div>
                                  <div class="cell medium-9 large-9 padding-top-3 padding-bottom-3">
                                    <h2 class="mainsubtitle">{{#i18n}}page.subtitle{{/i18n}}</h2>
                                    <a href="/your-map" class="hide warning button large upper-strip text-uppercase margin-top-2">{{#i18n}}actions.askyourmap.calltoaction{{/i18n}}</a>
                                    {{!-- working on page menu using Magellan, reserved for future use
                                      See https://get.foundation/sites/docs/magellan.html
                                      <ul class="menu expanded" data-magellan>
                                        [[#categories]]
                                          <li><a href="#seeall-[[id]]">[[name]]</a></li>
                                        [[/categories]]
                                      </ul> --}}
                                  </div>
                                </div>
                              </div>
        </div>
        {{#categories}}
        <div class="cell appear-off category-section">
          <div class="grid-container">
            <div class="grid-x">
              <div class="cell medium-9 large-9">
                <h2 class="category" id="seeall-{{id}}">{{name}}</h2>
              </div>
              <div class="cell medium-3 large-3 seeall-section">
                {{#more}}<a class="seeall" href="#seeall-{{id}}" data-smooth-scroll data-offset="-240">{{#i18n}}actions.seeall.text{{/i18n}}</a>{{/more}}
              </div>
            </div>
          </div>
        </div>
        <div class="cell margin-bottom-2">
                              <div class="grid-container maps">
                                <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-4">
                                  {{#maps}}
                                  <div class="cell map {{#seeAllHidden}}hide{{/seeAllHidden}}">
                                    <a class="bordered card" href="{{absolutePath}}{{>urlqueryargs}}">
                                      <div class="image-section"><img class="lozad" data-src="{{screenshotUrl}}"></div>
                                      <div class="icon-section">
                                        <div class="icon-button"><i class="sui-icon {{uicon}}"></i></div>
                                      </div>
                                      <div class="card-section">
                                        <h3 class="text-left">{{title}}</h3>
                                      </div>
                                    </a>
                                  </div>  
                                  {{/maps}}
                                </div>
                              </div>
        </div>
        {{/categories}}
        <div class="cell ov-footer margin-top-2">
                              <div class="grid-container">
                                <div class="grid-x grid-padding-y">
                                    <div class="cell text-right">
                                      {{#author}}
                                        {{{author}}}
                                      {{/author}}
                                      <a title="wmch-interactive-maps@github" class="clear large button secondary margin-bottom-0 padding-0" href="https://github.com/synapta/wmch-interactive-maps" target="_blank"><span aria-hidden="true"><span class="show-for-sr">Fork me on GitHub</span><i class="ui grey sui-icon sui-github"></i></a>
                                    </div>          
                                </div>
                              </div>
        </div>
      </div>
    </div>
    
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/foundation/6.7.4/js/foundation.min.js"></script>
    <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/lozad.js/1.16.0/lozad.min.js"></script>
    <script src="/themes/wmch-interactive-maps-v3-theme/js/app.js"></script>

  </body>
</html>
