        <div id="topmenu" class="cell">
                              <div class="grid-container">
                                <div class="grid-x grid-padding-x small-padding-collapse">
                                    <div class="cell small-2 medium-2 large-4">
                                      <a href="/{{>urlqueryargs}}" class="text-hide">
                                        <img src="{{logo.src}}" alt="{{logo.alt}}" id="logo" {{#logo.bgcolor}} style="background-color: {{logo.bgcolor}};" {{/logo.bgcolor}}>
                                        Wikimedia CH <!-- Logo Text  -->
                                      </a>
                                    </div>
                                    <div class="cell small-10 medium-10 large-8">
                                      <ul class="align-right menu inline">
                                          <li class="your-map-menu-item"><a href="/your-map{{>urlqueryargs}}" id="askyourmap" class="button rounded">{{#i18n}}actions.askyourmap.calltoaction{{/i18n}}</a></li>
                                          <li class="language-dropdown-menu-item">
                                                            <ul class="menu dropdown align-right" data-dropdown-menu>
                                                              <li>
                                                                <a class="dropdown clear button" href="#"><span class="show-for-medium">{{langname}} </span><abbr title="{{name}}" class="show-for-small-only text-uppercase">{{shortlang}}</abbr></a></a>
                                                                <ul class="menu">
                                                                  {{#languages}}
                                                                  <li><a data-value="{{code}}" href="?l={{code}}"><span class="show-for-medium">{{name}} </span><abbr title="{{name}}" class="show-for-small-only text-uppercase">{{code}}</abbr></a></li>
                                                                  {{/languages}}
                                                                </ul>
                                                              </li>
                                                            </ul>
                                          </li>
                                      </ul>
                                    </div>
                                </div>
                              </div>
        </div>