@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
@include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

.ov-footer {
    background-color: #f1f2f2;
    color: rgba(0,0,0,.6);
    font-size: rem-calc(14);
    line-height: rem-calc(18);
}

.header-not-found .cell {
    background-color: #0065A4;
}

.header-not-found {
    color:aliceblue;
    background-color: white;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding-bottom: 14rem;
    background-image: url(/images/not-found-humaans-cc0.svg);

    h1 {
        text-transform: uppercase;
    }
}

.header-your-map {
    background-image: url(/images/landing/headerbg3_cr.png);
    color:#f5f5f5;
    background-color: #0065A4;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h1 {
        text-transform: uppercase;
        mix-blend-mode: normal;
    }
}

#logo {
    height: rem-calc(134);
}


$category-text-height: 60;
$category-height: 70;
$seeall-height: 25;
.index .appear-on {
    .category {
        margin-bottom: -0.5em;  // to alter via JS
    }
    .category-section {
        padding-top: 0.5em;  // to alter via JS
    }
}
.index .category-section {
    margin-top: rem-calc($category-height - $category-text-height);
    margin-bottom: 0;
    overflow: hidden;
}
.index .category {
    font-family: Anton, sans-serif;
    color: #636466;
    font-size: rem-calc($category-text-height);
    line-height: rem-calc($category-text-height);
    text-transform: uppercase;
}
.index .seeall-section {
    text-align: right;
    // padding-top: rem-calc(($category-text-height - $seeall-height) / 2);
    .seeall {
        font-size: rem-calc($seeall-height);
        line-height: rem-calc($seeall-height);
        font-weight: 700;
        color: #636466;
    }
}
.maintitle {
    font-family: Anton, sans-serif;
    color: #F5F5F5;
}
.mainsubtitle {
    color: #F5F5F5;
}

#topmenu {
    .menu.inline {
        padding-top: rem-calc(35);
    }
    #askyourmap {
        text-transform: uppercase;
        font-weight: 700;
        font-size: rem-calc(25);
    }
    .dropdown {
        font-size: rem-calc(25);
    }
}

.mailmap {
    .maintitle {
        font-size: rem-calc(70);
    }
    .mainsubtitle {
        font-size: rem-calc(23);
    }
}
    
.index {
    .maintitle {
        font-size: rem-calc(100);
    }
    .mainsubtitle {
        font-size: rem-calc(32);
    }
}

.index .map {
    .icon-section {
        width: 100%;
        height: 0;
        text-align: center;
        position: relative;
        top: rem-calc(-40);  // desktop
        .icon-button {
            background: #FFFFFF 0% 0% no-repeat padding-box;
            box-shadow: rem-calc(3) rem-calc(3) rem-calc(6) #00000029;
            width: rem-calc(80);  // desktop
            height: rem-calc(80);  // desktop
            border-radius: 50%;
            display: inline-block;
            i.icon {
                color: #3A659F;
                font-size: rem-calc(44);  // desktop
                line-height: rem-calc(44 + 17 + 17);  // desktop
                padding-left: rem-calc(4);  // desktop
                display: inline-block;
            }
        }
    }
    .image-section {
        min-height: rem-calc(60);
    }
    .card-section {
        height: rem-calc(180);  // desktop
        padding: rem-calc(50) rem-calc(30) rem-calc(12) rem-calc(30);  // desktop
        overflow: hidden;
    }
    .card-section h3 {
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: #3A659F;
        font-size: rem-calc(30);  // desktop
        line-height: rem-calc(30);  // desktop
    }
}


.index .map .card {
    width: 100%;
    transition-property: width, box-shadow, border-radius, right, bottom;
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
    position: relative;
    right: 0%;
    bottom: 0%;
}
.index .map .card:hover {
    width: 180%;
    z-index: 999;
    box-shadow: rem-calc(3 * 2.2) rem-calc(3 * 2.2) rem-calc(6 * 2.2) #00000029;
    border-radius: 0 !important;
    right: 50%;
    bottom: 10%;
}

@media #{$small-only} {
    #main-container .card-section h3 {
        font-size: rem-calc(14);
    }
}

@media #{$medium-only} {
    #main-container .card-section h3 {
        font-size: rem-calc(19);
    }
}
