.marker-cluster {
    filter: grayscale(1);
}
.awesome-marker,
.marker-cluster {
    cursor: pointer;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.wikisemibold {
    font-weight: 600 !important;
}
.wikibold {
    font-weight: 700 !important;
}
#wmap .popup-content,
#preview .popup-content {
    height: auto;
    margin-right: 0;
    margin-left: 0;
}
.wplang {
    text-transform: uppercase;
}
.stroked,
.leaflet-popup-close-button,
#wmap .modal-content .close,
#preview .modal-content .close {
    text-shadow:
    -1px -1px 0 #999,
    1px -1px 0 #999,
    -1px 1px 0 #999,
    1px 1px 0 #999;
}
/** Popup on marker **/
#wmap .leaflet-popup-content,
#wmap .modal-content,
#preview .leaflet-popup-content,
#preview .modal-content {
    margin: 0 0 2em 0;
    font-size: 100%;
}

#wmap .leaflet-popup-content .popup-title,
#wmap .leaflet-modal .popup-title,
#preview .leaflet-popup-content .popup-title,
#preview .leaflet-modal .popup-title {
    font-weight: 700;
    color: #484848;
}
#pagepop .row .column {
  color: black;
  text-align: left;
  line-height: 1.4em;
}
#pagepop .popup-title {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}
#pagepop dt {
  font-size: 1.4rem;
  margin-bottom: 0.4em;
}
#pagepop dl {
  margin: 0;
}
#pagepop dd {
  margin-bottom: 0.8em;
}
#pagepop .row .column {
  padding: 0 !important;
}
#wmap .leaflet-popup-content dt,
#wmap .leaflet-modal .modal-content dt,
#preview .leaflet-popup-content dt,
#preview .leaflet-modal .modal-content dt {
    color: #484848;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 0.8em;
}
#wmap .leaflet-popup-content dd,
#wmap .leaflet-modal .modal-content dd,
#preview .leaflet-popup-content dd,
#preview .leaflet-modal .modal-content dd {
    font-size: 13px;
}
.leaflet-container {
}
#wmap .leaflet-popup-content-wrapper,
#preview .leaflet-popup-content-wrapper {
    border-radius: 0;
}
.leaflet-popup-content-wrapper dl,
.leaflet-modal .modal-content dl,
.leaflet-popup-content-wrapper dl,
.leaflet-modal .modal-content dl {
    margin-bottom: 4px;
}
#wmap a.leaflet-popup-close-button,
#wmap a.leaflet-popup-close-button:link,
#wmap a.leaflet-popup-close-button:visited,
#wmap a.leaflet-popup-close-button:hover,
#wmap a.leaflet-popup-close-button:focus,
#wmap a.leaflet-popup-close-button:active,
#preview a.leaflet-popup-close-button,
#preview a.leaflet-popup-close-button:link,
#preview a.leaflet-popup-close-button:visited,
#preview a.leaflet-popup-close-button:hover,
#preview a.leaflet-popup-close-button:focus,
#preview a.leaflet-popup-close-button:active {
    font-size: 36px;
    color: white;
    padding-right: 30px;
    top: 8px;
    right: 6px;
}
.popup-content ul {
    list-style-type: none;
    padding: 0;
}
.leaflet-popup-content .popup-cover-image {
    background-color: #416574;
    background-repat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wmap .popup-cover-image,
#preview .popup-cover-image {
    padding-right: 0;
    padding-left: 0;
}
.leaflet-popup-content .withimage {
    height: 14rem;
}
.leaflet-popup-content .noimage {
    height: 3rem;
}
#pagepop .withimage {
    height: 15rem;
    background-repat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#pagepop.inverted {
  background-color: rgba(255,255,255,.95);
}
#pagepop .noimage {
    height: 30px;
}
#wmap .nopadding,
#preview .nopadding {
    padding: 0;
}
#wmap .legenda-label {
    padding: 0.4rem 0.3rem;
    color: white;
}
/* Modal per mobile */
#wmap .leaflet-modal .modal-content {
    padding: 0;
    border-radius: 0;
}
#wmap .modal-inner {
    font-size: 1.3rem;
}
#wmap .modal-content {
    position: relative;
}
#wmap .modal-content .close {
    position: absolute;
    right: 0;
    z-index: 10001;
    font-size: 36px;
    color: white;
    opacity: 1;
}
.donotdisplay {
  display: none !important;
}
.noimage a {
  visibility: hidden;
}
.noimage a {
  display: block;
  position: relative;
}
.withimage a span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  background-color: rgba(255,255,255,.87);
  padding: 0 0.5ex;
  font-size: 0.8rem;
}
.withimage a,
.noimage a {
  display: block;
  width: 100%;
  height: 100%;
}
#wmap .awesome-marker .icon,
#preview .awesome-marker .icon {
  width: 100%;
}
#path-found,
#path-not-found {
  font-size: 1.5rem;
  line-height: 3rem;
}
#logoonmenu img {
  width: 58px;
  height: 58px;
}
#logoonmenu {
  padding: 0 0 0 1ex !important;
}
#languages {
  border-radius: 24px;
}
/** Override marker colors v. 2.0.2
 ** @see https://github.com/lvoogdt/Leaflet.awesome-markers/blob/v2.0.2/dist/leaflet.awesome-markers.css
 **/
/* Marker setup */
#wmap .awesome-marker-icon-red,
#wmap .awesome-marker-icon-darkred,
#wmap .awesome-marker-icon-lightred,
#wmap .awesome-marker-icon-orange,
#wmap .awesome-marker-icon-beige,
#wmap .awesome-marker-icon-green,
#wmap .awesome-marker-icon-darkgreen,
#wmap .awesome-marker-icon-lightgreen,
#wmap .awesome-marker-icon-blue,
#wmap .awesome-marker-icon-darkblue,
#wmap .awesome-marker-icon-lightblue,
#wmap .awesome-marker-icon-purple,
#wmap .awesome-marker-icon-darkpurple,
#wmap .awesome-marker-icon-pink,
#wmap .awesome-marker-icon-cadetblue,
#wmap .awesome-marker-icon-white,
#wmap .awesome-marker-icon-gray,
#wmap .awesome-marker-icon-lightgray,
#wmap .awesome-marker-icon-black,
#preview .awesome-marker-icon-red,
#preview .awesome-marker-icon-darkred,
#preview .awesome-marker-icon-lightred,
#preview .awesome-marker-icon-orange,
#preview .awesome-marker-icon-beige,
#preview .awesome-marker-icon-green,
#preview .awesome-marker-icon-darkgreen,
#preview .awesome-marker-icon-lightgreen,
#preview .awesome-marker-icon-blue,
#preview .awesome-marker-icon-darkblue,
#preview .awesome-marker-icon-lightblue,
#preview .awesome-marker-icon-purple,
#preview .awesome-marker-icon-darkpurple,
#preview .awesome-marker-icon-pink,
#preview .awesome-marker-icon-cadetblue,
#preview .awesome-marker-icon-white,
#preview .awesome-marker-icon-gray,
#preview .awesome-marker-icon-lightgray,
#preview .awesome-marker-icon-black {
  background-image: url('/images/awesome-markers/markers-soft.png');
}

/* Retina displays */
@media (min--moz-device-pixel-ratio: 1 .5),(-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1 .5),(min-device-pixel-ratio: 1 .5),(min-resolution: 1 .5dppx) {
  #wmap .awesome-marker-icon-red,
  #wmap .awesome-marker-icon-darkred,
  #wmap .awesome-marker-icon-lightred,
  #wmap .awesome-marker-icon-orange,
  #wmap .awesome-marker-icon-beige,
  #wmap .awesome-marker-icon-green,
  #wmap .awesome-marker-icon-darkgreen,
  #wmap .awesome-marker-icon-lightgreen,
  #wmap .awesome-marker-icon-blue,
  #wmap .awesome-marker-icon-darkblue,
  #wmap .awesome-marker-icon-lightblue,
  #wmap .awesome-marker-icon-purple,
  #wmap .awesome-marker-icon-darkpurple,
  #wmap .awesome-marker-icon-pink,
  #wmap .awesome-marker-icon-cadetblue,
  #wmap .awesome-marker-icon-white,
  #wmap .awesome-marker-icon-gray,
  #wmap .awesome-marker-icon-lightgray,
  #wmap .awesome-marker-icon-black,
  #preview .awesome-marker-icon-red,
  #preview .awesome-marker-icon-darkred,
  #preview .awesome-marker-icon-lightred,
  #preview .awesome-marker-icon-orange,
  #preview .awesome-marker-icon-beige,
  #preview .awesome-marker-icon-green,
  #preview .awesome-marker-icon-darkgreen,
  #preview .awesome-marker-icon-lightgreen,
  #preview .awesome-marker-icon-blue,
  #preview .awesome-marker-icon-darkblue,
  #preview .awesome-marker-icon-lightblue,
  #preview .awesome-marker-icon-purple,
  #preview .awesome-marker-icon-darkpurple,
  #preview .awesome-marker-icon-pink,
  #preview .awesome-marker-icon-cadetblue,
  #preview .awesome-marker-icon-white,
  #preview .awesome-marker-icon-gray,
  #preview .awesome-marker-icon-lightgray,
  #preview .awesome-marker-icon-black {
    background-image: url('/images/awesome-markers/markers-soft@2x.png');
  }
}
/** END Override marker colors **/
/** Begin Override Semantic UI 2.4.1 **/
/*--- Blue ---*/

.ui.wikiblue.labels .label,
.ui.wikiblue.label {
  background-color: #0065A4 !important;
  border-color: #0065A4 !important;
  color: #FFFFFF !important;
}

/* Link */

.ui.wikiblue.labels .label:hover,
a.ui.wikiblue.label:hover {
  background-color: #1678c2 !important;
  border-color: #1678c2 !important;
  color: #FFFFFF !important;
}

/* Corner */

.ui.wikiblue.corner.label,
.ui.wikiblue.corner.label:hover {
  background-color: transparent !important;
}

/* Ribbon */

.ui.wikiblue.ribbon.label {
  border-color: #1a69a4 !important;
}

/* Basic */

.ui.basic.wikiblue.label {
  background: none #FFFFFF !important;
  color: #0065A4 !important;
  border-color: #0065A4 !important;
}

.ui.basic.wikiblue.labels a.label:hover,
a.ui.basic.wikiblue.label:hover {
  background-color: #FFFFFF !important;
  color: #1678c2 !important;
  border-color: #1678c2 !important;
}
/* ************************** */

/*--- Blue ---*/

.ui.wikiblue.buttons .button,
.ui.wikiblue.button {
  background-color: #0065A4;
  color: #FFFFFF;
  text-shadow: none;
  background-image: none;
}

.ui.wikiblue.button {
  -webkit-box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
  box-shadow: 0px 0em 0px 0px rgba(34, 36, 38, 0.15) inset;
}

.ui.wikiblue.buttons .button:hover,
.ui.wikiblue.button:hover {
  background-color: #1678c2;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.wikiblue.buttons .button:focus,
.ui.wikiblue.button:focus {
  background-color: #0d71bb;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.wikiblue.buttons .button:active,
.ui.wikiblue.button:active {
  background-color: #1a69a4;
  color: #FFFFFF;
  text-shadow: none;
}

.ui.wikiblue.buttons .active.button,
.ui.wikiblue.buttons .active.button:active,
.ui.wikiblue.active.button,
.ui.wikiblue.button .active.button:active {
  background-color: #1279c6;
  color: #FFFFFF;
  text-shadow: none;
}

/* Basic */

.ui.basic.wikiblue.buttons .button,
.ui.basic.wikiblue.button {
  -webkit-box-shadow: 0px 0px 0px 1px #0065A4 inset !important;
  box-shadow: 0px 0px 0px 1px #0065A4 inset !important;
  color: #0065A4 !important;
}

.ui.basic.wikiblue.buttons .button:hover,
.ui.basic.wikiblue.button:hover {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #1678c2 inset !important;
  box-shadow: 0px 0px 0px 1px #1678c2 inset !important;
  color: #1678c2 !important;
}

.ui.basic.wikiblue.buttons .button:focus,
.ui.basic.wikiblue.button:focus {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #0d71bb inset !important;
  box-shadow: 0px 0px 0px 1px #0d71bb inset !important;
  color: #1678c2 !important;
}

.ui.basic.wikiblue.buttons .active.button,
.ui.basic.wikiblue.active.button {
  background: transparent !important;
  -webkit-box-shadow: 0px 0px 0px 1px #1279c6 inset !important;
  box-shadow: 0px 0px 0px 1px #1279c6 inset !important;
  color: #1a69a4 !important;
}

.ui.basic.wikiblue.buttons .button:active,
.ui.basic.wikiblue.button:active {
  -webkit-box-shadow: 0px 0px 0px 1px #1a69a4 inset !important;
  box-shadow: 0px 0px 0px 1px #1a69a4 inset !important;
  color: #1a69a4 !important;
}

.ui.buttons:not(.vertical) > .basic.wikiblue.button:not(:first-child) {
  margin-left: -1px;
}

/* Inverted */

.ui.inverted.wikiblue.buttons .button,
.ui.inverted.wikiblue.button {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px #54C8FF inset !important;
  box-shadow: 0px 0px 0px 2px #54C8FF inset !important;
  color: #54C8FF;
}

.ui.inverted.wikiblue.buttons .button:hover,
.ui.inverted.wikiblue.button:hover,
.ui.inverted.wikiblue.buttons .button:focus,
.ui.inverted.wikiblue.button:focus,
.ui.inverted.wikiblue.buttons .button.active,
.ui.inverted.wikiblue.button.active,
.ui.inverted.wikiblue.buttons .button:active,
.ui.inverted.wikiblue.button:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #FFFFFF;
}

.ui.inverted.wikiblue.buttons .button:hover,
.ui.inverted.wikiblue.button:hover {
  background-color: #3ac0ff;
}

.ui.inverted.wikiblue.buttons .button:focus,
.ui.inverted.wikiblue.button:focus {
  background-color: #2bbbff;
}

.ui.inverted.wikiblue.buttons .active.button,
.ui.inverted.wikiblue.active.button {
  background-color: #3ac0ff;
}

.ui.inverted.wikiblue.buttons .button:active,
.ui.inverted.wikiblue.button:active {
  background-color: #21b8ff;
}

/* Inverted Basic */

.ui.inverted.wikiblue.basic.buttons .button,
.ui.inverted.wikiblue.buttons .basic.button,
.ui.inverted.wikiblue.basic.button {
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.5) inset !important;
  color: #FFFFFF !important;
}

.ui.inverted.wikiblue.basic.buttons .button:hover,
.ui.inverted.wikiblue.buttons .basic.button:hover,
.ui.inverted.wikiblue.basic.button:hover {
  -webkit-box-shadow: 0px 0px 0px 2px #3ac0ff inset !important;
  box-shadow: 0px 0px 0px 2px #3ac0ff inset !important;
  color: #54C8FF !important;
}

.ui.inverted.wikiblue.basic.buttons .button:focus,
.ui.inverted.wikiblue.basic.buttons .button:focus,
.ui.inverted.wikiblue.basic.button:focus {
  -webkit-box-shadow: 0px 0px 0px 2px #2bbbff inset !important;
  box-shadow: 0px 0px 0px 2px #2bbbff inset !important;
  color: #54C8FF !important;
}

.ui.inverted.wikiblue.basic.buttons .active.button,
.ui.inverted.wikiblue.buttons .basic.active.button,
.ui.inverted.wikiblue.basic.active.button {
  -webkit-box-shadow: 0px 0px 0px 2px #3ac0ff inset !important;
  box-shadow: 0px 0px 0px 2px #3ac0ff inset !important;
  color: #54C8FF !important;
}

.ui.inverted.wikiblue.basic.buttons .button:active,
.ui.inverted.wikiblue.buttons .basic.button:active,
.ui.inverted.wikiblue.basic.button:active {
  -webkit-box-shadow: 0px 0px 0px 2px #21b8ff inset !important;
  box-shadow: 0px 0px 0px 2px #21b8ff inset !important;
  color: #54C8FF !important;
}
/* ***************************** */
/*--- Blue ---*/

.ui.wikiblue.header {
  color: #0065A4 !important;
}

a.ui.wikiblue.header:hover {
  color: #1678c2 !important;
}

.ui.wikiblue.dividing.header {
  border-bottom: 2px solid #0065A4;
}

/* Inverted */

.ui.inverted.wikiblue.header {
  color: #54C8FF !important;
}

a.ui.inverted.wikiblue.header:hover {
  color: #3ac0ff !important;
}
/* Other colors */
.wikigold {
  color: #cca613;
}
/* Override Lato Font on Semantic UI */
#wmap h1,
#wmap h2,
#wmap h3,
#wmap h4,
#wmap h5 {
  font-family: 'Open Sans', sans-serif;
}

#wmap.ui.button {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.text.container {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.header {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.input > input {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.list .list > .item .header,
#wmap.ui.list > .item .header {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.steps .step .title {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.form input:not([type]),
#wmap.ui.form input[type="date"],
#wmap.ui.form input[type="datetime-local"],
#wmap.ui.form input[type="email"],
#wmap.ui.form input[type="number"],
#wmap.ui.form input[type="password"],
#wmap.ui.form input[type="search"],
#wmap.ui.form input[type="tel"],
#wmap.ui.form input[type="time"],
#wmap.ui.form input[type="text"],
#wmap.ui.form input[type="file"],
#wmap.ui.form input[type="url"] {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.menu {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.message .header {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.cards > .card > .content > .header,
#wmap.ui.card > .content > .header {
  display: block;
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.items > .item > .content > .header {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.statistics .statistic > .value,
#wmap.ui.statistic > .value {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.statistics .statistic > .label,
#wmap.ui.statistic > .label {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.accordion .title:not(.ui) {
  padding: 0.5em 0em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}
#wmap.ui.modal > .header {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

#wmap.ui.modal > .header:not(.ui) {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: bold;
}
#wmap.ui.popup > .header {
  padding: 0em;
  font-family: 'Open Sans', sans-serif;
}

#wmap.ui.search > .results .result .title {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.search > .results > .message .header {
  font-family: 'Open Sans', sans-serif;
}
#wmap.ui.category.search > .results .category > .name {
  font-family: 'Open Sans', sans-serif;
}
/* ************************************************************************** */
#landing h1,
#landing h2,
#landing h3,
#landing h4,
#landing h5 {
  font-family: 'Open Sans', sans-serif;
}

#landing .ui.button {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.text.container {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.header {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.input > input {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.list .list > .item .header,
#landing .ui.list > .item .header {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.steps .step .title {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.form input:not([type]),
#landing .ui.form input[type="date"],
#landing .ui.form input[type="datetime-local"],
#landing .ui.form input[type="email"],
#landing .ui.form input[type="number"],
#landing .ui.form input[type="password"],
#landing .ui.form input[type="search"],
#landing .ui.form input[type="tel"],
#landing .ui.form input[type="time"],
#landing .ui.form input[type="text"],
#landing .ui.form input[type="file"],
#landing .ui.form input[type="url"] {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.menu {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.message .header {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.cards > .card > .content > .header,
#landing .ui.card > .content > .header {
  display: block;
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.items > .item > .content > .header {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.statistics .statistic > .value,
#landing .ui.statistic > .value {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.statistics .statistic > .label,
#landing .ui.statistic > .label {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.accordion .title:not(.ui) {
  padding: 0.5em 0em;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.87);
}
#landing .ui.modal > .header {
  display: block;
  font-family: 'Open Sans', sans-serif;
}

#landing .ui.modal > .header:not(.ui) {
  font-size: 1.42857143rem;
  line-height: 1.28571429em;
  font-weight: bold;
}
#landing .ui.popup > .header {
  padding: 0em;
  font-family: 'Open Sans', sans-serif;
}

#landing .ui.search > .results .result .title {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.search > .results > .message .header {
  font-family: 'Open Sans', sans-serif;
}
#landing .ui.category.search > .results .category > .name {
  font-family: 'Open Sans', sans-serif;
}
/** END Override Semantic UI **/
/** Override font Leaflet **/
/* general typography */
.leaflet-container,
.leaflet-container a.leaflet-popup-close-button
 {
  font-family: 'Open Sans', sans-serif !important;
}

/** END Override font Leaflet **/
