.marker-cluster {
    filter: grayscale(1);
}
.awesome-marker,
.marker-cluster {
    cursor: pointer;
}
body {
    font-family: 'Open Sans', sans-serif;
}
#logoonmenu {
    padding: 10px 0 4px 10px;
}
.wikiregular {
    font-weight: 400 !important;
}
.wikisemibold {
    font-weight: 600 !important;
}
.wikibold {
    font-weight: 700 !important;
}
.marginless {
  margin: 0 !important;
}
.paddingless {
  padding: 0 !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.noradius {
  border-radius: 0px !important;
}
#wmap .leaflet-control-layers:not(.leaflet-control-layers-expanded) {
    border: none;
}
#wmap .leaflet-control-layers-selector,
#landing .leaflet-control-layers-selector {
 display: inline-block;
 float: right;
}
#languages .menu {
  z-index: 999;
}
/* Legenda ****************************************************************** */
#wmap .leaflet-control.leaflet-control-layers-expanded,
#landing .leaflet-control.leaflet-control-layers-expanded {
  border-radius: 0;
  border-color: #636466;
  border-width: 1px;
}
#wmap .leaflet-control.leaflet-control-layers-expanded label,
#preview .leaflet-control.leaflet-control-layers-expanded label {
  display: block;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 9px;
  border-style: solid;
  border-color: #636466;
  border-width: 0 0 1px 0;
}
#wmap .overlays-header,
#preview .overlays-header {
  display: block;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 9px;
  border-style: solid;
  border-color: #636466;
  border-width: 0 0 1px 0;
}
#wmap .overlays-header,
#preview .overlays-header {
  display: block;
  font-size: 14px;
  padding-top: 0;
  padding-bottom: 9px;
  border-style: solid;
  border-color: #636466;
  border-width: 0 0 1px 0;
}
#wmap .leaflet-control-layers:not(.leaflet-control-layers-expanded) .overlays-header,
#preview .leaflet-control-layers:not(.leaflet-control-layers-expanded) .overlays-header {
  padding-top: 10px;
  border: none;
}
#wmap .leaflet-control.leaflet-control-layers label:last-child,
#preview .leaflet-control.leaflet-control-layers label:last-child {
  border: none;
  padding-bottom: 0;
}
#wmap .leaflet-control.leaflet-control-layers-expanded,
#preview .leaflet-control.leaflet-control-layers-expanded {
  padding: 15px;
}
#wmap .overlays-header,
#preview .overlays-header {
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,.87);
}
#wmap .leaflet-control.leaflet-control-layers-expanded .icon,
#preview .leaflet-control.leaflet-control-layers-expanded .icon {
  font-size: 24px;
}
/* ************************************************************************** */
#wmap .popup-content,
#preview .popup-content {
    height: auto;
    margin-right: 0;
    margin-left: 0;
}
.wplang {
    text-transform: uppercase;
}
.stroked,
.leaflet-popup-close-button,
#wmap .modal-content .close,
#preview .modal-content .close {
    text-shadow:
    -1px -1px 0 #999,
    1px -1px 0 #999,
    -1px 1px 0 #999,
    1px 1px 0 #999;
}
/** Popup on marker **/
#wmap .leaflet-popup-content,
#wmap .modal-content,
#preview .leaflet-popup-content,
#preview .modal-content {
    margin: 0 0 2em 0;
    font-size: 100%;
}

#wmap .leaflet-popup-content .popup-title,
#wmap .leaflet-modal .popup-title,
#preview .leaflet-popup-content .popup-title,
#preview .leaflet-modal .popup-title {
    font-weight: 700;
    color: #484848;
}
#pagepop .row .column {
  color: black;
  text-align: left;
  line-height: 1.4em;
}
#pagepop .popup-title {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}
#pagepop dt {
  font-size: 1.4rem;
  margin-bottom: 0.4em;
}
#pagepop dl {
  margin: 0;
}
#pagepop dd {
  margin-bottom: 0.8em;
}
#pagepop .row .column {
  padding: 0 !important;
}
#wmap .leaflet-popup-content dt,
#wmap .leaflet-modal .modal-content dt,
#preview .leaflet-popup-content dt,
#preview .leaflet-modal .modal-content dt {
    color: #484848;
    font-weight: 700;
    line-height: 1.5em;
    margin-top: 0.8em;
}
#wmap .leaflet-popup-content dd,
#wmap .leaflet-modal .modal-content dd,
#preview .leaflet-popup-content dd,
#preview .leaflet-modal .modal-content dd {
    font-size: 13px;
}
.leaflet-container {
}
#wmap .leaflet-popup-content-wrapper,
#preview .leaflet-popup-content-wrapper {
    border-radius: 0;
}
.leaflet-popup-content-wrapper dl,
.leaflet-modal .modal-content dl,
.leaflet-popup-content-wrapper dl,
.leaflet-modal .modal-content dl {
    margin-bottom: 4px;
}
#wmap a.leaflet-popup-close-button,
#wmap a.leaflet-popup-close-button:link,
#wmap a.leaflet-popup-close-button:visited,
#wmap a.leaflet-popup-close-button:hover,
#wmap a.leaflet-popup-close-button:focus,
#wmap a.leaflet-popup-close-button:active,
#preview a.leaflet-popup-close-button,
#preview a.leaflet-popup-close-button:link,
#preview a.leaflet-popup-close-button:visited,
#preview a.leaflet-popup-close-button:hover,
#preview a.leaflet-popup-close-button:focus,
#preview a.leaflet-popup-close-button:active {
    font-size: 36px;
    color: white;
    padding-right: 30px;
    top: 8px;
    right: 6px;
}
.popup-content ul {
    list-style-type: none;
    padding: 0;
}
.leaflet-popup-content .popup-cover-image a {
    /* background-color: #636466; */
    background-repat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#wmap .popup-cover-image,
#preview .popup-cover-image {
    padding-right: 0;
    padding-left: 0;
}
.leaflet-popup-content .withimage {
    height: 14rem;
}
.leaflet-popup-content .noimage {
    height: 3rem;
}
#pagepop .withimage {
  min-height: 15rem;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#pagepop .withimage a {
    height: 15rem;
    background-repat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#pagepop.inverted {
  background-color: rgba(255,255,255,.95);
}
#pagepop .noimage {
    height: 30px;
}
#wmap .nopadding,
#preview .nopadding {
    padding: 0;
}
#wmap .legenda-label {
    padding: 0.4rem 0.3rem;
    color: #636466;
}
/* Modal per mobile */
#wmap .leaflet-modal .modal-content {
    padding: 0;
    border-radius: 0;
}
#wmap .modal-inner {
    font-size: 1.3rem;
}
#wmap .modal-content {
    position: relative;
}
#wmap .modal-content .close {
    position: absolute;
    right: 0;
    z-index: 10001;
    font-size: 36px;
    color: white;
    opacity: 1;
}
.donotdisplay {
  display: none !important;
}
.noimage a {
  visibility: hidden;
}
.noimage a {
  display: block;
  position: relative;
}
.withimage a span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: black;
  background-color: rgba(255,255,255,.87);
  padding: 0 0.5ex;
  font-size: 0.8rem;
}
.withimage a,
.noimage a {
  display: block;
  width: 100%;
  height: 100%;
}
#wmap .awesome-marker .icon,
#preview .awesome-marker .icon {
  width: 100%;
}
#path-found,
#path-not-found {
  font-size: 1.5rem;
  line-height: 3rem;
}
.logo {
  width: 58px;
  height: 58px;
}
#languages {
  border-radius: 28px;
  font-weight: 400;
  font-size: 16px;
  min-width: 184px;
  line-height: 20px;
  font-size: 20px;
  cursor: pointer;
}
#languages input {
  color: white;
  cursor: pointer;
}
#languages .text {
  cursor: pointer;
  color: white !important;
}
/* svg clip art */
.svg-clip-art-left-arrow {
  position: absolute;
  right: 30px;
  bottom: 18px;
}
.svg-clip-art-down-arrow {
  float: right;
}
.leaflet-control-container .button {
  border-radius: 18px;
}
