#wmap {
  width: 100%;
  height: calc(100% - 100px);
}

.leaflet-control-container .leaflet-control-layers {
  margin-top: 12em;
}
#frontend h1 {
  color: #0065A4;
  font-size: 22px;
  font-weight: 600;
  line-height: 56px;
}
#wmap .leaflet-control-zoom {
  margin-top: 12em;
}
.popup-content dd {
  margin-left: 0;
}
#pagepopclose {
  position: absolute;
  top: 1em;
  right: 1ex;
  z-index: 1001;
}
/* Media queries */
@media (max-width: 640px) {
}
@media (min-width: 641px) and (max-width: 130ex) {
}
@media (min-width: 641px) {
    #wmap .popup-title {
        font-size: 36px;
    }
    #wmap .leaflet-popup-content dt {
        font-size: 17px;
    }
}
#wmap .popup-cover-image {
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/64/Image-x-generic-2.svg); */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
#wmap .popup-cover-image.noimage {
  background-color: #636466;
  background-image: none;
}
.top-buttons-wrapper {
  background-color: white !important;
  max-height: 100px;
  padding-top: 30px;
  padding-bottom: 20px;
}
#wmap .leaflet-bar-timecontrol,
#wmap .leaflet-left.leaflet-bottom .leaflet-control  {
  margin: 12px 34px 0 34px !important;
  border: none;
  padding-bottom: 20px;
  background-color: transparent;
}
#wmap .leaflet-bottom.leaflet-left {
  width: 100%;
  background-color: #f1f2f2 !important;
}
#realtime,
#history {
  float: left;
}
