.landingmapimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.landing-square {
  display: block;
  content: " ";
  width: 100%;
  /* 388 : 750 ratio */
  /* padding-top: 51.73%; */
  /* remove inner label size height */
  padding-top: 38.73%;  /* 51.73% - 13% */
}
.landing .infinite-container {
  padding-bottom: 5em;
}
h1 {
  line-height: 3em;
}
#infinite {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#infinite .label {
  text-transform: uppercase;
}
#infinite .landingmapimage {
  cursor: pointer;
}
#loadothers {
  display: block;
  margin: auto;
  max-width: 300px;
  margin-top: 1em;
}
#infinite .segment {
  padding: 0;
}
#infinite .attached {
  border-radius: 0px;
  text-transform: none;
  font-size: 20px;
  line-height: 24px;
  min-width: 44%; /*  10 - 12 */
  max-width: 44%;
  min-height: 10%;
  max-height: 10%;
  display: flex;
  padding: 10% 20px 3% 20px;
  position: relative;
}
#infinite .attached i.icon {
  font-weight: 400 !important;
  margin-bottom: 1rem;
  display: block;
  position: absolute;
  top: 36px;
}
#infinite .landing-square-title {
  min-height: 48px;
  margin-top: 1em;
}
#landing .masthead {
  background-image: url(/images/landing/headerbg.jpg);
  background-color: #0065A4;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
#landing .masthead h1 {
  font-size: 38px;
  line-height: 48px;
}
#landing .masthead h2 {
  font-size: 16px;
  line-height: 24px;
}
#landing .masthead .grid {
  padding-top: 150px;
  padding-bottom: 160px;
}
