.landingmapimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.squaretodel {
  position: relative;
}
.square {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.squaretodel > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.landing .container {
  padding-bottom: 5em;
}
h1 {
  line-height: 3em;
}
#infinite {
  margin-bottom: 2rem;
}
#infinite .label {
  text-transform: uppercase;
}
#infinite .landingmapimage {
  cursor: pointer;
}
#loadothers {
  display: block;
  margin: auto;
  max-width: 300px;
  margin-top: 1em;
}
#languages {
  position: absolute;
  right: 0;
  z-index: 997;
  margin-right: 10px;
  margin-top: 10px;
}
#languages .menu {
  z-index: 997;
}
