.landingmapimage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.square {
  position: relative;
}
.square {
  display: block;
  content: " ";
  width: 100%;
  padding-top: 56.25%;
}
.square > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.landing .container {
  padding-bottom: 5em;
}
h1 {
  line-height: 3em;
}
#infinite .header {
  background-color: white;
  display: inline;
  padding-top: 1ex;
  padding-right: 1ex;
  line-height: 1.7em;
  word-spacing: 0.5ex;
  font-variant: small-caps;
}
