.hidestep {
    display: none !important;
}
.step, .step * {
    cursor: pointer;
}
.step.active *, .step.active {
    cursor: default;
}
.step:before {
  position: absolute;
  left: 0.3ex;
  font-size: 18pt;
  opacity: 0.4;
}
.step:nth-child(1):before {
    content: "1";
}
.step:nth-child(2):before {
    content: "2";
}
.step:nth-child(3):before {
    content: "3";
}
.step:nth-child(4):before {
    content: "4";
}
#languages * {
    cursor: pointer;
}
#mapstyle {
    z-index: 10000;
}
/** to be fixed **/
#container {
  min-height: 600px;
}
#preview {
    width: auto;
    height: 500px;
}
.pinicon-wrapper .results .icon {
    float: right;
    font-size: larger;
}
input.inverted {
    color: black !important;
    border: 1px solid #ccc !important;
}
.final-step .leaflet-control,
.final-step #center {
    display: none;
}
.final-step #preview,
.final-step #preview * {
    pointer-events: none;
}
#center {
	position: relative;
	top: 54px;
	z-index: 996;
	left: 40%;
}
