<!-- *** begin menu **************************************** -->
<div id="menutemplate" class="ui menu borderless">
  <div class="item marginless" id="logoonmenu">
    <a href="/"><img class="logo" src="{{logo.src}}" alt="{{logo.alt}}" height="{{logo.height}}" {{#logo.bgcolor}} style="background-color: {{logo.bgcolor}};" {{/logo.bgcolor}} /></a>
  </div>
  <div class="item">
    <h1 class="ui header medium">{{^title}}{{#i18n}}page.title{{/i18n}}{{/title}}{{#title}}{{title}}{{/title}}</h1>
  </div>
  <div class="ui secondary pointing menu right">
    <div class="item {{#isWizardPage}}active{{/isWizardPage}}">
      <a class="" href="/wizard?l={{shortlang}}"><i class="plus icon"></i> {{#i18n}}actions.create.text{{/i18n}}</a>
    </div>
    <div class="item {{#isAdminPage}}active{{/isAdminPage}}">
      <a class="" href="/admin?l={{shortlang}}"><i class="sitemap icon"></i> {{#i18n}}actions.admin.text{{/i18n}}</a>
    </div>
    <div class="item {{#isHelpPage}}active{{/isHelpPage}}">
      <a class="" href="/wizard/man/index?l={{shortlang}}"><i class="help icon"></i> {{#i18n}}actions.help.text{{/i18n}}</a>
    </div>
    <div class="item">
      <div class="ui dropdown labeled" id="languages">
        <i class="language icon"></i>
        <span class="text">{{langname}}</span>
        <div class="menu">
          {{#languages}}
          <div class="item" data-value="{{code}}">{{name}}</div>
          {{/languages}}
        </div>
        <i class="angle down icon"></i>
      </div>
    </div>
    <div class="item">
      <a class="" href="/?l={{shortlang}}"><i class="sign-out icon"></i> {{#i18n}}actions.back.text{{/i18n}}</a>
    </div>
  </div>
</div>
<!-- *** end menu **************************************** -->