<!-- *** begin menu **************************************** -->
<div class="ui menu borderless">
  <div class="item marginless" id="logoonmenu">
    <a href="/"><img class="logo" src="{{logo.src}}" alt="{{logo.alt}}" height="{{logo.height}}" {{#logo.bgcolor}} style="background-color: {{logo.bgcolor}};" {{/logo.bgcolor}} /></a>
  </div>
  <div class="item">
    <h1 class="ui header medium">{{#i18n}}page.title{{/i18n}}</h1>
  </div>
  <div class="right menu">
        <div class="item">
          <a class="ui button small basic" href="/wizard?l={{shortlang}}"><i class="plus icon"></i> {{#i18n}}actions.create.text{{/i18n}}</a>
        </div>
        <div class="item">
          <a class="ui button small basic" href="/admin?l={{shortlang}}"><i class="sitemap icon"></i> {{#i18n}}actions.admin.text{{/i18n}}</a>
        </div>
        <div class="item">
          <a class="ui button small basic" href="/wizard/man/index?l={{shortlang}}"><i class="help icon"></i> {{#i18n}}actions.help.text{{/i18n}}</a>
        </div>
        <div class="item">
            <div class="ui dropdown labeled search icon button wikiblue" id="languages">
              <span class="text">{{langname}}</span>
              <div class="menu">
                {{#languages}}
                <div class="item" data-value="{{code}}">{{name}}</div>
                {{/languages}}
              </div>
            </div>
        </div>
        <!-- Icon to identify current section -->
        <div class="item">
          <a title="{{#i18n}}actions.back.text{{/i18n}}" href="/?l={{shortlang}}"><i class="ui grey icon large home"></i></a>
        </div>
  </div>
</div>
<!-- *** end menu **************************************** -->